{% include "header.html" %}  

{% if info_message %}<p><div class="alert alert-success" role="alert">{{ info_message }}</div></p>{% endif %}
{% if error_message %}<p><div class="alert alert-danger" role="alert">{{ error_message }}</div></p>{% endif %}

<form action="{% url 'somgr:signoff' project.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{{ project.name }}</legend>
        {% for signoff in project.signoff_set.all %}
            <input type="radio" name="soteam" id="signoff{{ forloop.counter }}" value="{{ signoff.soteam }}">
            <label for="soteam">{{ signoff.soteam }}</label><br>
            {% if not signoff.soby %}
                <input type="radio" name="soteam" id="signoff{{ forloop.counter }}" value="{{ signoff.soteam }}">
                <label for="soteam">123{{ signoff.soteam }}</label><br>
            {% endif %}
            {% if signoff.soby == 'william' %}
                <input type="radio" name="soteam" id="signoff{{ forloop.counter }}" value="{{ signoff.soteam }}">
                <label for="soteam">Remove</label><br>
            {% endif %}
        {% endfor %}
    </fieldset>
    <input type="submit" value="Signoff">
</form>

{% include "footer.html" %}  